/* Custom Fonts */
@font-face {
    font-family: "ModeNine";
    src: url(/fonts/Modenine-2OPd.ttf);
}

@font-face {
    font-family: "Consolas";
    src: url(/fonts/consola.ttf);
}

/* Colour Palette */
:root {
    --white: #F4F0F2;
    --black: #000000;
    --black-25: rgba(0,0,0,0.25);
    --black-50: rgba(0,0,0,0.5);
    --mauve-shadow: #694F5D;
    --muted-teal: #68A691;
    --ash-grey: #BFD3C1;
    --cotton-rose: #EFC7C2;

    --inter: "Inter", Arial, Helvetica, sans-serif;
    --modenine: "ModeNine", "Consolas", monospace;
}

/* General Styling */

* {
    font-family: var(--inter);
    line-height: 1;
}

ion-icon {
    font-size: 24px;
}

/* Navbar Styling */
nav {
    background-color: var(--white);
    border-bottom: var(--muted-teal) solid 2px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
}

nav div.container-fluid {
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-toggler {
    background-color: var(--muted-teal);
    border-radius: 10px;
    padding: 8px;
    border: none;
    box-shadow: 4px 4px 0px var(--black-25);
    transition: none;
    color: var(--white);
}

.navbar-toggler:focus {
    box-shadow: 4px 4px 0px var(--black-25);
}

.navbar-toggler-icon {
    width: 32px;
    height: 32px;
    background-image: none;
}

.navbar-collapse {
    justify-content: space-between;
}

.navbar-nav {
    gap: 10px;
}

ul.navbar-nav.left {
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-item {
    
}

.nav-link {
    background-color: var(--muted-teal);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px;
    border-top-right-radius: 0px;
    font-family: var(--modenine);
    font-size: 20px;
    color: var(--white);
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 5px;
    box-shadow: 4px 4px 0px var(--black-25);
    transition: none;
}

.nav-link:hover, .nav-link:focus {
    color: var(--white);
}

/* Section Styling */
main {
    display: flex;
    flex-direction: column;
}

section {
    background-color: var(--mauve-shadow);
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    align-items: center;
}

section:nth-child(2n) {
    background: var(--white);
}

h1 {
    font-size: 40px;
    line-height: 1;
    text-align: center;
    margin: 0px;
    padding-bottom: 10px;
    border-bottom: var(--white) solid 2px;
    width: 100%;
    font-family: var(--modenine);
}

section h1 {
    color: var(--white);
}

section:nth-child(2n) h1 {
    color: var(--mauve-shadow);
    border-bottom-color: var(--mauve-shadow);
}

/* Terminal Styling */
#terminal {
    max-width: 800px;
    border: var(--white) solid 1px;
    border-radius: 2px;
    box-shadow: 4px 4px 0px var(--black-25);
}

#terminal-header {
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
}

#terminal-title {
    width: 100%;
    text-align: center;
    word-break: break-all;
    font-size: 12px;
    line-height: 15px;
    color: var(--black);
}

#terminal-actions {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.terminal-button {
    border-radius: 50%;
}

#terminal-close {
    background-color: var(--muted-teal);
}

#terminal-close .terminal-icon {
    color: var(--white);
}

.terminal-icon {
    font-size: 12px;
    color: var(--black);
    display: block;
}

#terminal-body {
    background-color: var(--black-50);
    padding: 2px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#terminal-body p, #terminal-body p span {
    margin: 0;
    color: var(--white);
    font-family: var(--modenine);
    font-size: 20px;
    word-break: break-word;
}

.terminal-paragraph {
    padding-bottom: 20px;
}

#terminal-body p:last-child {
    padding-bottom: 20px;
}

.terminal-text-user {
    color: var(--ash-grey) !important;
}

.terminal-text-bash {
    color: var(--cotton-rose) !important;
}

/* Education Styling */
.card-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    gap: 20px;
}

.showcase-card {
    width: 300px;
    border: var(--mauve-shadow) solid 2px;
    border-radius: 10px;
    background-color: var(--mauve-shadow);
    display: flex;
    flex-direction: column;
    gap: 0px;
    box-shadow: 4px 4px 0px var(--black-25);
}

.card-header {
    background-color: var(--white);
    color: var(--mauve-shadow);
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    border-bottom: var(--mauve-shadow) solid 2px;
    font-family: var(--modenine);
    font-size: 24px;
    text-align: center;
    padding: 5px;
}

.card-body {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-title {
    border: var(--white) solid 2px;
    color: var(--white);
    font-family: var(--modenine);
    font-size: 16px;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 4px 4px 0px var(--black-25);
}

.card-links {
    display: flex;
    gap: 10px;
}

.card-links a {
    background-color: var(--muted-teal);
    color: var(--white) !important;
    padding: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 5px;
    border-radius: 10px;
    text-decoration: none;
    font-family: var(--modenine);
    box-shadow: 4px 4px 0px var(--black-25);
}

.full-width {
    width: 100%;
}

.card-description {
    background-color: var(--white);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    box-shadow: 4px 4px 0px var(--black-25);
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.card-description p {
    text-align: center;
    color: var(--black);
    font-size: 14px;
    margin: 0;
}

.card-image {
    
}


/* Contact Styling */
.contact-list {
    display: flex;
    gap: 10px;
    padding: 10px;
}

.contact-list a {
    display: flex;
    align-items: center;
    background-color: var(--muted-teal);
    box-shadow: 4px 4px 0px var(--black-25);
    border-radius: 30px;
    color: var(--white);
    text-decoration: none;
    font-family: var(--modenine);
    font-size: 20px;
    gap: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

/* Footer Styling */
footer {
    background-color: var(--white);
    border-top: var(--muted-teal) solid 2px;
}

footer p {
    margin: 0;
    text-align: center;
    padding: 10px;
}

/* Responsive Styles */
@media (min-width: 992px) {
    /* Navbar Styling */
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 10px;
        padding-right: 10px;
    }

    ul.navbar-nav.left {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 4px;
        padding-right: 0px;
    }

    ul.navbar-nav.right {
        padding-left: 0px;
        padding-right: 4px;
    }
}
